<!--<div *ngIf="data">
 <ul *ngFor="let item of data">
   <li>{{item}}</li>
 </ul>
</div>-->
<md-select placeholder="选择Host" [(ngModel)]="selectedHost" (ngModelChange)="updateSelectedHost()" style="margin: 10px;">
  <md-option *ngFor="let host of hosts" [value]="host">{{ host }}</md-option>
</md-select>
<ngx-datatable
  class="material"
  [rows]="rows"
  [columnMode]="'force'"
  [columns]="columns"
  [headerHeight]="50"
  [footerHeight]="50"
  [rowHeight]="'auto'"
  [scrollbarH]="true"

  [externalPaging]="true"
  [count]="page.totalElements"
  [offset]="page.pageNumber"
  [limit]="page.size"
  (page)='fetch($event)'

  [selected]="selected"
  [selectionType]="'multi'"
  (activate)="onActivate($event)"
  (select)='onSelect($event)'>
</ngx-datatable>
<button md-raised-button (click)="clearHistory()">清除历史</button>
