<!--<div *ngIf="data">
 <ul *ngFor="let item of data">
   <li>{{item}}</li>
 </ul>
</div>-->
<md-select placeholder="选择Host" [(ngModel)]="selectedHost" (ngModelChange)="updateSelectedHost()" style="margin: 10px;">
  <md-option *ngFor="let host of hosts" [value]="host">{{ host }}</md-option>
</md-select>
<ngx-datatable #myTable
  class="material"
  [rows]="rows"
  [columnMode]="'force'"
  [columns]="columns"
  [headerHeight]="50"
  [footerHeight]="50"
  [rowHeight]="'auto'"
  [scrollbarH]="true"

  [externalPaging]="true"
  [count]="page.totalElements"
  [offset]="page.pageNumber"
  [limit]="page.size"
  (page)='fetch($event)'

  [selected]="selected"
  [selectionType]="'multi'"
  (activate)="onActivate($event)"
  (select)='onSelect($event)'>

  <ngx-datatable-footer>
    <ng-template
      ngx-datatable-footer-template
      let-rowCount="rowCount"
      let-pageSize="pageSize"
      let-selectedCount="selectedCount",
      let-curPage="curPage"
      let-offset="offset">
      <div style="padding: 5px 10px;">
        <div>
          {{rowCount}}条 | {{curPage}}/{{pageSize}}页
        </div>
      </div>
      <datatable-pager
        [pagerLeftArrowIcon]="'datatable-icon-left'"
        [pagerRightArrowIcon]="'datatable-icon-right'"
        [pagerPreviousIcon]="'datatable-icon-prev'"
        [pagerNextIcon]="'datatable-icon-skip'"
        [page]="curPage"
        [size]="pageSize"
        [count]="rowCount"
        [hidden]="!((rowCount / pageSize) > 1)"
        (change)="myTable.onFooterPage($event)">
      </datatable-pager>

    </ng-template>

  </ngx-datatable-footer>
</ngx-datatable>
<button md-raised-button (click)="clearHistory()">清除历史</button>
