<md-card class="example-card">
  <h2>系统界面</h2>
  <md-divider></md-divider>
  <section class="example-section">
    <md-slide-toggle mdTooltip="点击切换保存" class="example-margin" color="accent" [(ngModel)]='saveFlag' (click)='toggleSave()'>
      <span *ngIf="saveFlag">保存</span>
      <span *ngIf="!saveFlag">不保存</span>
    </md-slide-toggle>
      <md-slide-toggle mdTooltip="点击停止/开启" class="example-margin" color="accent" [(ngModel)]='progress' (click)='toggle()'>
        <span *ngIf="progress">接收开启</span>
        <span *ngIf="!progress">接收关闭</span>
      </md-slide-toggle>
    <md-progress-bar mode="indeterminate" color="accent" *ngIf='progress'></md-progress-bar>
    </section>
  <md-divider></md-divider>
  <md-card-content>
    <div class="card-content">
      <md-nav-list dense class="subnav">
        <a md-list-item routerLink={{link.url}} *ngFor="let link of protocols"  routerLinkActive="active" (click)='checkToggle()'>
          <h4 md-line>{{link.name}}</h4>
        </a>
      </md-nav-list>
      <div class="proto-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </md-card-content>
</md-card>
