<md-card class="example-card">
  <h2>设备主页</h2>
  <md-divider></md-divider>
  <md-card-content>
    <div class="card-content">
      <md-nav-list dense class="subnav">
        <a md-list-item routerLink={{link.url}} *ngFor="let link of protocols"  routerLinkActive="active">
          <h4 md-line>{{link.name}}</h4>
        </a>
      </md-nav-list>
      <div class="proto-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </md-card-content>
  <md-divider></md-divider>
  <md-card-actions>
    <section class="example-section">
      <md-slide-toggle class="example-margin" color="accent" [(ngModel)]='progress' (click)='toggle()'>
        开始接收
      </md-slide-toggle>
    <md-progress-bar mode="indeterminate" color="accent" *ngIf='progress'></md-progress-bar>
    </section>
  </md-card-actions>
</md-card>
