<h3>{{content}}</h3>
<!--<button md-raised-button (click)="dialogRef.close()">Close dialog</button>-->
<!--貌似这样家里的电脑不行-->
<!--<button md-raised-button [md-dialog-close]="0">Close dialog</button>-->
<div style="float:right;">
  <button md-raised-button (click)="dialogRef.close(0)">{{cancelButton?cancelButton:'取消'}}</button>
  <button *ngIf="positiveButton" md-raised-button color="primary" (click)="dialogRef.close(1)">{{positiveButton}}</button>
  <button *ngIf="destroyButton" md-raised-button color="warn" (click)="dialogRef.close(2)">{{destroyButton}}</button>
</div>
