<div class="container">
  <h2>数据详情</h2>
  <md-divider></md-divider>
  <md-card-content>
    <div class="container">

      <h2 *ngIf="!dataPack">解析错误</h2>

      <md-grid-list cols="4" rowHeight="2em">
        <div>
          <md-grid-tile colspan=1 rowspan=1 class="title"><span>Host</span></md-grid-tile>
          <md-grid-tile colspan=3 rowspan=1><span [innerHTML]="dataPack?.host"></span></md-grid-tile>
        </div>
        <div>
          <md-grid-tile colspan=1 rowspan=2 class="title"><span>系统控制信息</span></md-grid-tile>
          <md-grid-tile colspan=3 rowspan=2><span [innerHTML]="dataPack?.control"></span></md-grid-tile>
        </div>
        <div>
          <md-grid-tile colspan=1 rowspan=2 class="title"><span>当前GPS数据</span></md-grid-tile>
          <md-grid-tile colspan=3 rowspan=2><span [innerHTML]="dataPack?.gps"></span></md-grid-tile>
        </div>
        <div *ngFor="let item of items">
          <md-grid-tile colspan=1 rowspan=1 class="title"><span>{{item?.name}}</span></md-grid-tile>
          <md-grid-tile colspan=1 rowspan=1><span [innerHTML]="item?.value"></span></md-grid-tile>
        </div>
      </md-grid-list>
    </div>
  </md-card-content>
</div>
