<div class="container">
  <h2>数据详情</h2>
  <md-divider></md-divider>
  <md-card-content>
    <div class="container">

      <h2>{{error}}</h2>

      <md-grid-list cols="4" rowHeight="100px" rowHeight="2em">
        <div *ngFor="let item of items">
          <md-grid-tile colspan=1 rowspan=1 class="title"><span>{{item?.name}}</span></md-grid-tile>
          <md-grid-tile colspan=1 rowspan=1><span>{{item?.value}}</span></md-grid-tile>
        </div>
      </md-grid-list>
    </div>
  </md-card-content>
</div>
