.card-content{
  display: flex;
  flex-wrap: row;
}
.subnav{
  width: 10em;
  position: relative;
}
.proto-content{
  width: 70%;
  position: relative;
}
a.active{
  background-color: #e91e63;
  color:white;
}
