<md-sidenav-container class="container">
  <md-sidenav #sidenav mode="side" opened="true">
    <div class="scrolling-content">
      <md-nav-list dense>
        <h3 md-subheader>设备</h3>
        <a md-list-item *ngFor="let link of devices" routerLink={{link.url}} routerLinkActive="active">
          <md-icon md-list-icon>{{link.icon}}</md-icon>
          <h4 md-line>{{link.name}}</h4>
        </a>
        <md-divider></md-divider>
        <h3 md-subheader>设置</h3>
        <a md-list-item *ngFor="let link of settings" routerLink={{link.url}} routerLinkActive="active">
          <md-icon md-list-icon>{{link.icon}}</md-icon>
          <h4 md-line>{{link.name}}</h4>
        </a>
        <md-divider></md-divider>
        <h3 md-subheader>数据</h3>
        <a md-list-item *ngFor="let link of data" routerLink={{link.url}} routerLinkActive="active">
          <md-icon md-list-icon>{{link.icon}}</md-icon>
          <h4 md-line>{{link.name}}</h4>
        </a>
        <md-divider></md-divider>
        <h3 md-subheader>协议</h3>
        <a md-list-item *ngFor="let link of protocols" routerLink={{link.url}} routerLinkActive="active">
          <md-icon md-list-icon>{{link.icon}}</md-icon>
          <h4 md-line>{{link.name}}</h4>
        </a>
        <!--<md-divider></md-divider>
        <h3 md-subheader>指令</h3>
        <a md-list-item *ngFor="let link of insts" routerLink={{link.url}} routerLinkActive="active">
          <md-icon md-list-icon>{{link.icon}}</md-icon>
          <h4 md-line>{{link.name}}</h4>
        </a>-->
        <md-divider></md-divider>
        <h3 md-subheader>工具</h3>
        <md-slide-toggle mdTooltip="点击切换" class="toolbar" color="accent" [(ngModel)]="debug" (click)="toggleDebug()">
          <span>调试模式</span>
        </md-slide-toggle>
        <md-slide-toggle mdTooltip="点击切换" class="toolbar" color="accent" [(ngModel)]="record" (click)="toggleRecord()" disabled="{{!debug}}">
          <span>原始数据记录</span>
        </md-slide-toggle>
        <h4 md-subheader>{{buildTimestamp}}</h4>
      </md-nav-list>
    </div>
  </md-sidenav>
 <!-- <button md-mini-fab class="fab" (click)="sidenav.toggle()">
    <md-icon>add</md-icon>
  </button>-->
  <div class="scrolling-content right-content">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>
