<md-card class="example-card">
  <h2>历史数据</h2>
  <md-divider></md-divider>
  <md-card-content>
    <div class="card-content">
      <md-nav-list dense class="subnav">
        <a md-list-item *ngFor="let link of protocols" [routerLink]="['/data/show', link.url]" routerLinkActive="active">
          <h4 md-line>{{link.name}}</h4>
        </a>
      </md-nav-list>
      <div class="proto-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </md-card-content>
  <md-divider></md-divider>
  <md-card-actions>
    <section class="example-section">

    </section>
  </md-card-actions>
</md-card>
