.card-content{
  display: flex;
  flex-wrap: row;
}
.subnav{
  width: 7em;
  position: relative;
}
.proto-content{
  width: 70%;
  position: relative;
}
.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}
.example-margin {
  margin: 10px;
}
a.active{
  background-color: #e91e63;
  color:white;
}

.proto-content{
  margin-top: 1em;
  margin-left: 1em;
}
h2{
  text-align: center;
}
