<md-card>
  <md-card-content>
    <!--<div class="container">-->
      <!--<div>搜索：-->
        <!--<md-input-container class="">-->
          <!--<input mdInput [(ngModel)]="filter">-->
        <!--</md-input-container>-->
        <!--</div>-->
      <!--<div class="box">-->
        <!--<span class="item-header" [innerHTML]="'工作方式:' | highlight : filter"></span>-->
        <!--<md-select [(ngModel)]="intf.workType" class="medium-select item-value">-->
          <!--<md-option *ngFor="let state of workTypeSelect" [value]="state.code">{{ state.name }}</md-option>-->
        <!--</md-select>-->
      <!--</div>-->
    <!--</div>-->

    <md-card-actions>
      <button md-button (click)="sendRequest()">发送请求</button>
      <button md-button (click)="saveProtoValueAndToast()">保存参数</button>
      <button md-button (click)="selectPath()"><span>CSV保存位置: {{folderPath}}</span></button>
    </md-card-actions>

    <md-card-header>
      <h4 style="color: #E91E63;" *ngIf="time">收到数据... 接收时间：{{time}}</h4>
    </md-card-header>
    <!--<md-card-header>-->
      <!--<h2>参数设定</h2>-->
    <!--</md-card-header>-->
    <div class="container">
      <div class="box" *ngFor="let item of items">
        <span class="item-header">{{item.name}}:</span>
        <md-input-container class="medium-input item-value" *ngIf="!item.enums">
          <input mdInput [(ngModel)]="intf[item.index]" type="number" min="1" max="25">
        </md-input-container>
        <md-select [(ngModel)]="intf[item.index]" class="medium-select item-value" *ngIf="item.enums">
          <md-option *ngFor="let state of item.enums" [value]="state.code">{{ state.name }}</md-option>
        </md-select>
        <span class="ph">{{item.placeholder}}</span>
      </div>

    </div>
  </md-card-content>

</md-card>
