div {
  width: 100%;
  word-wrap: break-word;
  overflow-y: auto;
}
.narrow-input{
  width: 2em;
}
.medium-input{
  width: 4em;
}
.medium-select{
  width: 14em;
}
.super-narrow-input{
  width: 1.5em;
}
.display{
  /*height: 3em;*/
  font-size: 2em;
  margin-left: 20%;
}
.number-btn{
  border: 2px solid pink;
}

.item-header {
  font-weight: 600;
}
.item-value {
  text-align: center;
  font-size: 18px;
  margin-left: 10px;
}
