div {
  width: 100%;
  word-wrap: break-word;
  overflow-y: auto;
}
.narrow-input{
  width: 2em;
}
.super-narrow-input{
  width: 1.5em;
}
.display{
  /*height: 3em;*/
  font-size: 2em;
  margin-left: 20%;
}
.number-btn{
  border: 2px solid pink;
}
