.narrow-input{
  width: 2em;
}
.medium-input{
  width: 2.8em;
}
.medium-select{
  width: 14em;
}
.super-narrow-input{
  width: 1.5em;
}
.display{
  /*height: 3em;*/
  font-size: 2em;
  /*margin-left: 20%;*/
  text-align: center;
}
.number-btn{
  border: 2px solid pink;
  width: 1em;
}

.item-header {
  font-weight: 600;
}
.item-value {
  text-align: center;
  margin-left: 16px;
}
.container{
  display: flex;
  flex-wrap: wrap;
}
.box {
  width: 100%;
  padding-top: 1em;
}
md-slider{
    width: 80%;
  }

.can-copy {
  cursor: hand;
}

@media screen and (min-width: 960px){
  .box {
    width: 50%;
  }
  .display{
    width: 30%;
  }
  .slider{
    width: 70%;
    margin-top: 3em;
  }
}
