<md-card>
  <md-card-header>
    <md-card-title>中频长度设定</md-card-title>
    <md-card-subtitle>0-25毫秒</md-card-subtitle>
  </md-card-header>
  <md-divider></md-divider>
  <md-card-content>
    <div class="display">
      <md-input-container class="narrow-input">
        <input mdInput value={{timeInt}} type="number" max="25" min="0">
      </md-input-container>.
      <md-input-container class="super-narrow-input">
        <input mdInput value="0" type="number" max="9" min="0">
      </md-input-container>
      毫秒
    </div>
    <div>
      <span>调节:</span>
      <button class="number-btn" md-button (click)="timePlus(5)">+5毫秒</button>
      <button class="number-btn" md-button (click)="timeMinus(5)">-5毫秒</button>
      <button class="number-btn" md-button (click)="timePlus(10)">+10毫秒</button>
      <button class="number-btn" md-button (click)="timeMinus(10)">-10毫秒</button>
    </div>
    <div style="margin-top:1em;">
      <span>数值:</span>
      <button class="number-btn" md-button (click)="timeSet(5)">5毫秒</button>
      <button class="number-btn" md-button (click)="timeSet(10)">10毫秒</button>
      <button class="number-btn" md-button (click)="timeSet(15)">15毫秒</button>
      <button class="number-btn" md-button (click)="timeSet(20)">20毫秒</button>
    </div>
  </md-card-content>
  <md-divider></md-divider>

  <md-card-header style="margin-top:1em;">
    <md-card-title>其他参数设定</md-card-title>
  </md-card-header>
  <md-divider></md-divider>
  <md-card-content style="margin-top:1em;">
    <md-grid-list cols="2" rowHeight="30px">
      <md-grid-tile>
        <div>
          <span>工作方式:</span>
          <md-select placeholder="工作方式" [(ngModel)]="workType">
            <md-option *ngFor="let state of workTypeSelect" [value]="state.code">{{ state.name }}</md-option>
          </md-select>
        </div>
      </md-grid-tile>
      <md-grid-tile>
        <div>
          <span>带宽选择:</span>
          <md-select placeholder="带宽选择" [(ngModel)]="broadband">
            <md-option *ngFor="let broadbandState of broadbandSelect" [value]="broadbandState.code">{{ broadbandState.name }}</md-option>
          </md-select>
        </div>
      </md-grid-tile>
      <md-grid-tile>
        <div>
          <span>工作周期数:</span>
          <md-input-container class="">
            <input mdInput value={{workPeriod}} type="number" min="0">
          </md-input-container>
        </div>
      </md-grid-tile>
      <md-grid-tile>
        <div>
          <span>工作周期长度:</span>
          <md-input-container class="">
            <input mdInput value={{workPeriodLength}} type="number" min="0">
          </md-input-container>
        </div>
      </md-grid-tile>
    </md-grid-list>


  </md-card-content>

  <md-card-actions>
    <button md-button (click)="sendRequest()">发送请求</button>
    <button md-button (click)="exportData()" *ngIf="folderPath">导出数据</button>
    <button md-button (click)="selectPath()"><span *ngIf="!folderPath">选择保存位置</span><span *ngIf="folderPath">{{folderPath}}</span></button>
  </md-card-actions>
</md-card>
