<md-grid-list cols="4" rowHeight="100px" rowHeight="2em">
  <div>
    <md-grid-tile colspan=1 rowspan=1 class="title"><span>Host</span></md-grid-tile>
    <md-grid-tile colspan=1 rowspan=1><span [innerHTML]="host"></span></md-grid-tile>
  </div>
  <div>
    <md-grid-tile colspan=1 rowspan=1 class="title"><span>Host</span></md-grid-tile>
    <md-grid-tile colspan=1 rowspan=1><span [innerHTML]="protoId"></span></md-grid-tile>
  </div>
  <div>
    <md-grid-tile colspan=1 rowspan=2 class="title"><span>系统控制信息</span></md-grid-tile>
    <md-grid-tile colspan=3 rowspan=2><span [innerHTML]="control"></span></md-grid-tile>
  </div>
  <div>
    <md-grid-tile colspan=1 rowspan=2 class="title"><span>当前GPS数据</span></md-grid-tile>
    <md-grid-tile colspan=3 rowspan=2><span [innerHTML]="gps"></span></md-grid-tile>
  </div>
  <div *ngFor="let item of items">
    <md-grid-tile colspan=1 rowspan=1 class="title"><span>{{item?.name}}</span></md-grid-tile>
    <md-grid-tile colspan=1 rowspan=1><span [innerHTML]="item?.value"></span></md-grid-tile>
  </div>
</md-grid-list>
