
<md-grid-list cols="4" rowHeight="100px" rowHeight="2em">
  <md-grid-tile colspan=2 rowspan=1>pdwToaTod:<span>{{message?.pdwToaTod}}</span></md-grid-tile>
  <md-grid-tile colspan=2 rowspan=1>pdwPw:<span>{{message?.pdwPw}}</span></md-grid-tile>
  <md-grid-tile colspan=2 rowspan=1>pdwVpcnt:<span>{{message?.pdwVpcnt}}</span></md-grid-tile>
  <md-grid-tile colspan=2 rowspan=1>pdwWorkBand:<span>{{message?.pdwWorkBand}}</span></md-grid-tile>
  <md-grid-tile colspan=2 rowspan=1>trackerFreRise:<span>{{message?.trackerFreRise}}</span></md-grid-tile>
  <md-grid-tile colspan=2 rowspan=1>trackerFreMinOv:<span>{{message?.trackerFreMinOv}}</span></md-grid-tile>
  <md-grid-tile colspan=2 rowspan=1>trackerFreMaxOv:<span>{{message?.trackerFreMaxOv}}</span></md-grid-tile>
  <md-grid-tile colspan=2 rowspan=1>trackerFre3:<span>{{message?.trackerFre3}}</span></md-grid-tile>
  <md-grid-tile colspan=2 rowspan=1>trackerFre4:<span>{{message?.trackerFre4}}</span></md-grid-tile>
  <md-grid-tile colspan=2 rowspan=1>pdwType:<span>{{message?.pdwType}}</span></md-grid-tile>
  <md-grid-tile colspan=2 rowspan=1>trackerOrien:<span>{{message?.trackerOrien}}</span></md-grid-tile>
  <md-grid-tile colspan=2 rowspan=1>phase1:<span>{{message?.phase1}}</span></md-grid-tile>
  <md-grid-tile colspan=2 rowspan=1>phase2:<span>{{message?.phase2}}</span></md-grid-tile>
  <md-grid-tile colspan=2 rowspan=1>phase3:<span>{{message?.phase3}}</span></md-grid-tile>
  <md-grid-tile colspan=2 rowspan=1>phase4:<span>{{message?.phase4}}</span></md-grid-tile>
  <md-grid-tile colspan=2 rowspan=1>phase5:<span>{{message?.phase5}}</span></md-grid-tile>
  <md-grid-tile colspan=2 rowspan=1>phase6:<span>{{message?.phase6}}</span></md-grid-tile>
  <md-grid-tile colspan=2 rowspan=1>phase7:<span>{{message?.phase7}}</span></md-grid-tile>
  <md-grid-tile colspan=2 rowspan=1>phase8:<span>{{message?.phase8}}</span></md-grid-tile>
  <md-grid-tile colspan=2 rowspan=1>phase9:<span>{{message?.phase9}}</span></md-grid-tile>
  <md-grid-tile colspan=2 rowspan=1>phase10:<span>{{message?.phase10}}</span></md-grid-tile>
  <md-grid-tile colspan=2 rowspan=1>phase11:<span>{{message?.phase11}}</span></md-grid-tile>
  <md-grid-tile colspan=2 rowspan=1>phase12:<span>{{message?.phase12}}</span></md-grid-tile>
  <md-grid-tile colspan=2 rowspan=1>phase13:<span>{{message?.phase13}}</span></md-grid-tile>
  <md-grid-tile colspan=2 rowspan=1>phase14:<span>{{message?.phase14}}</span></md-grid-tile>
  <md-grid-tile colspan=2 rowspan=1>phase15:<span>{{message?.phase15}}</span></md-grid-tile>
  <md-grid-tile colspan=2 rowspan=1>phase16:<span>{{message?.phase16}}</span></md-grid-tile>
  <md-grid-tile colspan=2 rowspan=1>amplitude1:<span>{{message?.amplitude1}}</span></md-grid-tile>
  <md-grid-tile colspan=2 rowspan=1>amplitude2:<span>{{message?.amplitude2}}</span></md-grid-tile>
  <md-grid-tile colspan=2 rowspan=1>amplitude3:<span>{{message?.amplitude3}}</span></md-grid-tile>
  <md-grid-tile colspan=2 rowspan=1>amplitude4:<span>{{message?.amplitude4}}</span></md-grid-tile>
  <md-grid-tile colspan=2 rowspan=1>amplitude5:<span>{{message?.amplitude5}}</span></md-grid-tile>
  <md-grid-tile colspan=2 rowspan=1>amplitude6:<span>{{message?.amplitude6}}</span></md-grid-tile>
  <md-grid-tile colspan=2 rowspan=1>amplitude7:<span>{{message?.amplitude7}}</span></md-grid-tile>
  <md-grid-tile colspan=2 rowspan=1>amplitude8:<span>{{message?.amplitude8}}</span></md-grid-tile>
</md-grid-list>
