<md-card class="example-card">
  <h2>地址/端口</h2>
  <md-divider></md-divider>
  <md-card-content>
    <div class="card-content">
      <form class="example-form">
        <table class="example-full-width" cellspacing="0">
          <!--<tr>
            <h3 for="">发送</h3>
            <td>
              <md-input-container class="example-full-width">
                <input mdInput placeholder="IP地址" value="192.168.0.11">
              </md-input-container>
            </td>
            <td>
              <md-input-container class="example-full-width">
                <input mdInput placeholder="端口" value="6011">
              </md-input-container>
            </td>
          </tr>-->
          <tr>
            <h3 for="">接收端口</h3>
            <!--<td>
            <md-input-container class="example-full-width">
              <input mdInput placeholder="本机IP地址" value="192.168.0.85">
            </md-input-container>
          </td>-->
            <td>
              <md-input-container class="example-full-width">
                <input mdInput placeholder="端口" value="{{localPort}}">
              </md-input-container>
            </td>
          </tr>
        </table>
      </form>
    </div>
  </md-card-content>
  <md-divider></md-divider>
  <md-card-actions>
    <button md-button (click)="save()">保存</button>
    <button md-button>取消</button>
  </md-card-actions>
</md-card>
