<md-card class="example-card">
  <h2>地址/端口</h2>
  <md-divider></md-divider>
  <md-card-content>
    <div class="card-content">
      <form class="example-form">
        <table class="example-full-width" cellspacing="0">
          <tr>
            <h3 for="">发送地址/端口</h3>
            <td>
              <md-input-container class="example-full-width">
                <input mdInput placeholder="IP地址" [(ngModel)]="remoteHost" name="remoteHost">
              </md-input-container>
            </td>
            <td>
              <md-input-container class="example-full-width">
                <input mdInput placeholder="端口" [(ngModel)]="remotePort" name="remotePort">
              </md-input-container>
            </td>
          </tr>
          <tr>
            <h3 for="">接收</h3>
            <!--<td>
            <md-input-container class="example-full-width">
              <input mdInput placeholder="本机IP地址" value="192.168.0.85">
            </md-input-container>
          </td>-->
            <td>
              <md-input-container class="example-full-width">
                <input mdInput placeholder="端口" [(ngModel)]="localPort" name="localPort">
              </md-input-container>
            </td>
          </tr>
          <tr>
            <h3 for="">Hosts（英文,隔开）</h3>
            <td colspan="2">
              <md-input-container class="example-full-width">
                <input mdInput placeholder="Hosts" [(ngModel)]="hosts" name="hosts">
              </md-input-container>
            </td>
          </tr>
        </table>
      </form>
    </div>
  </md-card-content>
  <md-divider></md-divider>
  <md-card-actions>
    <button md-button (click)="save()">保存</button>
    <button md-button>取消</button>
    <button md-button (click)="initSetting()">恢复默认值</button>
  </md-card-actions>
</md-card>
